<div>
   <div ng-show="address_message" class="alert alert-success">
         Address Updated Successfully!
   </div>
   <form class="well form-horizontal" ng-submit="update_address()">
      <fieldset>
         <legend>
            Address
         </legend>
         <div class="control-group">
            <label class="control-label" for="state">State</label>
            <div class="controls">
               <input type="text" name="state" required ng-model="application.location.state"/>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="country">Country</label>
            <div class="controls">
               <input type="text" name="country" ng-model="application.location.country" required />
            </div>
         </div>
         <div class="control-group">
            <div class="controls">
               <button class="btn btn-primary"><i class="icon-ok"></i>Save</button>
            </div>
         </div>
      </fieldset>
   </form>
</div>

