<div>
   <div ng-show="manager_information_message" class="alert alert-success">
         Manager Updated Successfully!
   </div>
   <form class="well form-horizontal" ng-submit="update_manager()"> 
   <fieldset>
      <legend>
         Manager
      </legend>
      <div class="control-group">
         <label class="control-label" for="first_name">First Name</label>
         <div class="controls">
            <input type="text" name="first_name" 
               ng-model="application.manager.first_name" required/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="last_name">Last Name</label>
         <div class="controls">
            <input type="text" name="last_name"
               ng-model="application.manager.last_name" required />
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" type="submit">
               <i class="icon-ok"></i>Save
            </button>
         </div>
      </div>
   </fieldset>
   </form>
</div>
