{% extends "templates/cfz_master.jinja2" %}

{% block master_head %}

{% endblock %}

{% block master_title %}
Welcome to TurboGears 2.2, standing on the shoulders of giants, since 2007
{% endblock %}

{% block sidebar%}
   {% include "templates/application/sidebar.jinja2" %}
{% endblock %}

{% block contents %}
{% endblock %}

