<div id="alert-space">
</div>

<table class="display table table-striped table-bordered">
   <thead>
      <tr role="row">
         <th role="Plaza">Plaza</th>
         <th role="Locale">Locale</th>
         <th/>
      </tr>
   </thead>
   <tbody>
      <td>{{ line1 }}</td>
      <td>{{ line2 }}</td>
      <td>
         <button class="btn btn-primary" id="edit-btn" title="Remove Authorized Representative">
            Edit
         </button>
      </td>
   </tbody>
</table>

