<div class="span6">
   <div class="button-action">
   <button class="btn btn-small btn-af" id="add-report-btn">
      <span>
         <i class="icon-small icon-list-alt"></i>
      </span>
      Add Annual Report
   </button>
   </div>
</div>
<div id="report-form">
</div>
<table class="display table table-striped table-bordered" aria-describedby="list-of-reports">
   <thead>
      <tr role="row">
         <th role="columnheader">Id</th>
         <th role="Date Submitted">Date Submitted</th>
         <th role="Reporting Year">Reporting Year</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>

