<form class="well form-horizontal">
   <fieldset>
      <legend>Annual Report</legend>
      <div class="control-group">
         <label class="control-label" for="submitted_date">Date Submitted</label>
         <div class="controls">
            <input type="text" name="submitted_date" id="report-submitted-date"
               value = "{{ submitted_date }}" >
            </input>
            <span class="alert alert-error" 
               id="report-submitted-date-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="reporting-year">Reporting Year</label>
         <div class="controls">
            <input type="number" id="reporting-year" type="number" 
               name="reporting-year" value = "{{ reporting_year }}" required >
            </input>
            <span class="alert alert-error" id="reporting-year-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-report-btn">
               <i class="icon-ok"></i>
               Save
            </button>
            <button class="btn btn-danger" id="cancel-report-btn">
               <i class="icon-singout"></i>
               Cancel
            </button>
         </div>
      </div>
   </fieldset>
</form>

