<td>{{ id }}</td>
<td>{{ first_name }}</td>
<td>{{ last_name }}</td>
<td>{{ representation_type.name }}</td>
<td>
   <button class="btn btn-danger" id="remove-btn" title="Remove Authorized Representative">
      <i class="icon-trash"></i> 
   </button>
</td>
