<div class="well">
   <legend><h3 style="clear: left;">Authorized Persons</h3></legend>
   <div>
      <span id="create-authorizedperson-btn" class="span6">
      </span>
   </diV>
   <div id="authorizedpersons-list">
   </div>
</div>
