<table class="display table table-striped table-bordered">
   <thead>
      <tr role="row">
         <th role="Name">Company Name</th>
         <th role="Registraion Number">Registration Number</th>
         <th role="Telephone Number">Telephone #</th>
         <th role="Date Created">Date Created</th>
         <th/>
      </tr>
   </thead>
   <tbody></tbody>
</table>
