<h4>Company Contact Numbers</h4>
<div id="alert-space">
</div>

<table class="display table table-striped table-bordered">
   <thead>
      <tr role="row">
         <th role="Telephone #">Telephone #</th>
         <th role="Fax #">Fax #</th>
         <th role="Cell #">Cell #</th>
         <th/>
      </tr>
   </thead>
   <tbody>
      <td>{{ telephone_number }}</td>
      <td>{{ fax_number }}</td>
      <td>{{ cell_number }}</td>
      <td>
         <button class="btn btn-primary" id="edit-btn" title="Save Company Contact Numbers">
            Edit
         </button>
      </td>
   </tbody>
</table>

