<table class="display table table-striped table-bordered">
   <thead>
      <tr role="row">
         <th role="columnheader">Id</th>
         <th role="Person">Person</th>
         <th role="Date Issued">Date Issued</th>
         <th role="Month Expired">Month Expired</th>
         <th role="Vehicle Model">Vehicle Model</th>
         <th role="License Plage">License Plate</th>
         <th role="Sticker #">Sticker #</th>
         <th/>
      </tr>
   </thead>
   <tbody></tbody>
</table>
