<td>{{ id }}</td>
<td>{{ person }}</td>
<td>{{ pretty_date_issued }}</td>
<td>{{ month_expired }}</td>
<td>{{ vehicle_model }}</td>
<td>{{ license_plate }}</td>
<td>{{ sticker_number }}</td>
<td>
   <button class="btn btn-primary" id="edit-courtesypass-btn" title="View">
      <i class="icon-eye-open"></i> 
   </button>
</td>

