<div class="span6">
   <div class="button-action">
   <button class="btn btn-small btn-af" id="add-director-btn">
      <span>
         <i class="icon-small icon-list-alt"></i>
      </span>
      Add Director
   </button>
   </div>
</div>
<div id="director-form">
</div>
<table class="display table table-striped table-bordered" aria-describedby="list-of-directors">
   <thead>
      <tr role="row">
         <th role="columnheader">Id</th>
         <th role="First Name">First Name</th>
         <th role="Last Name">Last Name</th>
         <th role="Email">Email</th>
         <th role="Phone">Phone #</th>
         <th role="Start Date">Start Date</th>
         <th role="End Date">End Date</th>
         <th/>
      </tr>
   </thead>
   <tbody></tbody>
</table>

