<td>{{ id }}</td>
<td>{{ first_name }}</td>
<td>{{ last_name }}</td>
<td>{{ email }}</td>
<td>{{ phone1 }}</td>
<td>{{ pretty_start_date }}</td>
<td>{{ pretty_end_date }}</td>
<td>
   <button class="btn btn-primary" id="edit-director-btn">
      Edit
   </button>
</td>
