<form class="well form-horizontal">
   <fieldset>
      <legend>Director</legend>
      <div class="control-group">
         <label class="control-label" for="first_name">First Name</label>
         <div class="controls">
            <input type="text" name="first_name" id="first-name"
               value = {{ first_name }} >
            </input>
            <span class="alert alert-error" id="first-name-alert">
               Please provide a value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="last_name">Last Name</label>
         <div class="controls">
            <input type="text" name="last_name" id="last-name" 
               value = {{ last_name }} >
            </input>
            <span class="alert alert-error" id="last-name-alert">
               Please provide a value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="start_date">Start Date</label>
         <div class="controls">
            <div class="input-append">
               <input class="span10" type="text" id="start-date" 
                  name="start-date" value = {{ start_date }} >
                  <span class="add-on"><i class="icon-calendar"></i></span>
               </input>
            </div>
            <span class="alert alert-error" id="start-date-alert">
               Please provide a value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="end_date">End Date</label>
         <div class="controls">
            <div class="input-append">
               <input class="span10" type="text" id="end-date" 
                  name="end-date" value = {{ end_date }} >
                  <span class="add-on"><i class="icon-calendar"></i></span>
               </input>
            </div>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="director-email">Email Address</label>
         <div class="controls">
            <input type="text" name="director-email" id="email" 
               value = {{ email }} >
            </input>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="phone1">Phone 1</label>
         <div class="controls">
            <input type="text" name="phone1" id="director-phone1" 
               value = {{ phone1 }} >
            </input>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="phone2">Phone 2</label>
         <div class="controls">
            <input type="text" name="phone2" id="director-phone2" 
               value = {{ phone2 }} >
            </input>
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-btn">
               <i class="icon-ok"></i>
               Save
            </button>
            <button class="btn btn-danger" id="cancel-btn">
               <i class="icon-singout"></i>
               Cancel
            </button>
         </div>
      </div>
   </fieldset>
</form>

