<div class="well">
   <legend><h3 style="clear: left">Operation Contracts</h3></legend>
   <div>
      <span id="create-opcontract-btn" class="span6">
      </span>
   </div>
   <div id="opcontracts-list">
   </div>
</div>
