<td>{{ id }}</td>
<td>{{ first_name }}</td>
<td>{{ last_name }}</td>
<td>{{ shares }}</td>
<td>{{ background_check }}</td>
<td>
   <button class="btn btn-primary" id="edit-shareholder-btn">
      Edit
   </button>
</td>

