<div class="span6">
   <div class="button-action">
   <button class="btn btn-small btn-af" id="add-shareholder-btn">
      <span>
         <i class="icon-small icon-list-alt"></i>
      </span>
      Add Shareholder
   </button>
   </div>
</div>
<div id="shareholder-form">
</div>
<table class="display table table-striped table-bordered" aria-describedby="list-of-shareholders">
   <thead>
      <tr role="row">
         <th role="columnheader">Id</th>
         <th role="First Name">First Name</th>
         <th role="Last Name">Last Name</th>
         <th role="Shares">Shares</th>
         <th role="Background">Background Check</th>
         <th/>
      </tr>
   </thead>
   <tbody></tbody>
</table>

