<form class="well form-horizontal">
   <fieldset>
      <legend>Shareholder</legend>
      <div class="control-group">
         <label class="control-label" for="first_name">First Name</label>
         <div class="controls">
            <input type="text" name="first_name" id="shareholder-first-name"
               value = "{{ first_name }}" >
            </input>
            <span class="alert alert-error" 
               id="shareholder-first-name-alert">
               Please provide a value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="last_name">Last Name</label>
         <div class="controls">
            <input type="text" name="last_name" 
               id="shareholder-last-name" value = "{{ last_name }}" >
            </input>
            <span class="alert alert-error" 
               id="shareholder-last-name-alert">
               Please provide a value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="shares">Shares</label>
         <div class="controls">
            <input type="number" id="shares"  pattern="\d*"
               name="shares" value = "{{ shares }}" />
            <span class="alert alert-error" id="shares-alert">
               Please provide a value!
            </span>
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-shareholder-btn">
               <i class="icon-ok"></i>
               Save
            </button>
            <button class="btn btn-danger" id="cancel-shareholder-btn">
               <i class="icon-singout"></i>
               Cancel
            </button>
         </div>
      </div>
   </fieldset>
</form>

