<table class="display table table-striped table-bordered" aria-describedby="list-of-reports">
   <thead>
      <tr role="row">
         <th role="columnheader">Id</th>
         <th role="Owner">Owner</th>
         <th role="Date Issued">Date Issued</th>
         <th role="Month Expired">Month Expired</th>
         <th role="Vehicle Model">Vehicle Model</th>
         <th role="License Plate">License Plate</th>
         <th role="Sticker #">Sticker #</th>
         <th/>
      </tr>
   </thead>
   <tbody></tbody>
</table>

