<form class="well form-horizontal">
   <fieldset>
      <legend>Vehicle Sticker</legend>
      <div class="control-group">
         <label class="control-label" for="owner">Owner</label>
         <div class="controls">
            <input type="text" name="owner" id="vehicle-owner"
               value = "{{ owner }}" >
            </input>
            <span class="alert alert-error" 
               id="vehicle-owner-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="vehicle-year">Vehicle Year</label>
         <div class="controls">
            <input type="number" name="vehicle-year" 
               id="vehicle-year" value = "{{ vehicle_year }}" >
            </input>
            <span class="alert alert-error" 
               id="vehicle-year-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="vehicle-model">Vehicle Model</label>
         <div class="controls">
            <input type="text" id="vehicle-model" 
               name="vehicle-model" value = "{{ vehicle_model }}" >
            </input>
            <span class="alert alert-error" id="vehicle-model-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="color">Color</label>
         <div class="controls">
            <input type="text" id="vehicle-color" 
               name="vehicle-color" value = "{{ color }}" >
            </input>
            <span class="alert alert-error" id="vehicle-color-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="license-plate">
            License Plate Number
         </label>
         <div class="controls">
            <input type="text" id="license-plate" 
               name="license-plate" value = "{{ license_plate }}" >
            </input>
            <span class="alert alert-error" id="license-plate-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="sticker-number">
            Sticker Number
         </label>
         <div class="controls">
            <input type="text" id="sticker-number" 
               name="sticker-number" value = "{{ sticker_number }}" >
            </input>
            <span class="alert alert-error" id="sticker-number-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="date-issued">
            Date Issued
         </label>
         <div class="controls">
            <input type="text" id="date-issued" 
               name="date-issued" value = "{{ date_issued }}" >
            </input>
            <span class="alert alert-error" id="date-issued-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="month-expired">
            Month Expired
         </label>
         <div class="controls">
            <select name="month-expired" id="month-expired">
               <option value="January">January</option>
               <option value="February">February</option>
               <option value="March">March</option>
               <option value="April">April</option>
               <option value="May">May</option>
               <option value="June">June</option>
               <option value="July">July</option>
               <option value="August">August</option>
               <option value="September">September</option>
               <option value="October">October</option>
               <option value="November">November</option>
               <option value="December">December</option>
            </select>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="receipt-number">
            Receipt Number
         </label>
         <div class="controls">
            <input type="text" id="receipt-number" 
               name="receipt-number" value = "{{ receipt_number }}" >
            </input>
            <span class="alert alert-error" id="receipt-number-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group" id="issued-by">
         <label class="control-label" for="issued-by">
            Issued By
         </label>
         <div class="controls">
            <input type="text" disabled
               name="issued-by" value = "{{ issued_by }}" >
            </input>
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-sticker-btn">
               <i class="icon-ok"></i>
               Save
            </button>
            <button class="btn btn-danger" id="cancel-sticker-btn">
               <i class="icon-singout"></i>
               Cancel
            </button>
         </div>
      </div>
   </fieldset>
</form>

