<!DOCTYPE html>
<div ng-cloak>
   <h2>Annual Reports</h2>

   <div id="message">
   </div>

   <p ng-show="add_report_button">
      <a href="" ng-click="show_report_form()">
         <i class="icon-plus"></i>
         Annual Report
      </a>
   </p>

   <div class="well" ng-show="is_report_form_on" ng-cloak>
      <a href="" class="close" ng-click="close_report_form()">x</a>
      <form class="form-horizontal" ng-submit="save_report()">
         <fieldset>
            <legend>Add Annual Report</legend>

            <div class="control-group">
               <label class="control-label" for="date_submitted">
                  Date Submitted
               </label>
               <div class="controls">
                  <input ui-date="dateOptions" name="date_submitted" 
                     ng-model="annual_report.date_submitted" required>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="start_date">
                  Start Date
               </label>
               <div class="controls">
                  <input ui-date="dateOptions" name="start_date" 
                     ng-model="annual_report.start_date" required>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="end_date">
                  End Date
               </label>
               <div class="controls">
                  <input ui-date="dateOptions" name="end_date" 
                     ng-model="annual_report.end_date" required>
               </div>
            </div>
            <div class="control-group">
               <div class="controls">
                  <button class="btn btn-primary">
                     <i class="icon-ok"></i>
                     Save
                  </button>
               </div>
            </div>

         </fieldset>
      </form>
   </div>

   <table class="table table-bordered table-striped">
      <thead>
         <tr>
            <th>Id</th>
            <th>Date Submitted</th>
            <th>Start Date</th>
            <th>End Date</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="report in annual_reports">
            <td>{{report.id}}</td>
            <td>{{report.date_submitted}}</td>
            <td>{{report.start_date}}</td>
            <td>{{report.end_date}}</td>
         </tr>
      </tbody>
   </table>

</div>
