<!DOCTYPE html>

{% extends "templates/cfz_requirejs_master.jinja2" %}

{% block master_title %}
CFZ | Vehicle Passes
{% endblock %}

{% block master_head %}
<script type="text/javascript" data-main="{{request.application_url}}/static/javascript/main-vehiclepass.js"
   src="{{request.application_url}}/static/javascript/require.js">
</script>
<link rel="stylesheet" type="text/css" media="screen"
href="{{request.application_url}}/static/css/jquery-ui-1.8.21.custom.css" />
{% endblock master_head %}

{% block contents %}
   <div class="row-fluid">
      <div class="span3">
         <div class="well well-large sidebar-nav">
            <ul class="nav nav-list">
               {% include "templates/company/sidebar_no_search.jinja2" %}
            </ul>
         </div> <!-- /sidebar-nav -->
      </div> <!-- /span3  -->

      <div class='span9'> 
         <div id='content' class='span12'>
            <form class="form-horizontal">
            </form>
         </div> <!-- /content !-->
         <div id="mainpanel">
         </div>
      </div> <!-- /span12 !-->

   </div> <!-- row-fluid -->
{% endblock contents%} 
