<!DOCTYPE html>
<div class="dataTables_wrapper" role="grid" ng-controller="CompanyListController">
	<table class="display table table-striped table-bordered small-font dataTable"
		cellspacing="0" cellpadding="0" border="0">
		<thead>
			<tr role="row">
				<th role="columnheader" rowspan="1" colspan="1">Id</th>
				<th role="columnheader" rowspan="1" colspan="1">Company</th>
				<th role="columnheader" rowspan="1" colspan="1">Company Type</th>
				<th role="columnheader" rowspan="1" colspan="1">Manager</th>
				<th role="columnheader" rowspan="1" colspan="1">Registration #</th>
				<th role="columnheader" rowspan="1" colspan="1">Date created</th>
				<th role="columnheader" rowspan="1" colspan="1">Telephone #</th>
			</tr>
		</thead>
		<tbody role="alert">
			{% raw %}
			<tr ng-repeat="company in companies">
                  <td>{{company.id}}</td>
                  <td>{{company.name}}</td>
                  <td>{{company.company_type}}</td>
                  <td>{{company.manager}}</td>
                  <td>{{company.registration_number}}</td>
                  <td>{{company.created_date}}</td>
                  <td>{{company.telephone_number}}</td>
                  <td>
                     <a href="/companies/show/{{company.id}}"
                        rel="tooltip" title="View & Edit">
                        <i class="icon-eye-open"></i>
                     </a>
                  </td>
			</tr>
			{% endraw %}
		</tbody>
	</table>
</div>