<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/company/section_header.jinja2" %}
{% endblock %}

{% block main_content %}

   <div id="content">
  </div>


<script id="company-tmpl" type="text/template">
   <form class="well form-horizontal">
      <fieldset>
         <legend>Create New Company</legend>
         <div class="control-group">
            <label class="control-label" for="name">Company Name</label>
            <div class="controls">
               <input type="text" name="name" id="company-name" required></input>
               <span class="alert alert-error" id="company-name-alert">
                  Please provide a value!
               </span>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="registration_number">Registration Number</label>
            <div class="controls">
               <input type="text" name="registration_number" id="registration-number" 
                  required></input>
               <span class="alert alert-error" id="registration-number-alert">
                  Please provide a value!
               </span>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="company_type">Company Type</label>
            <div class="controls">
               <select id="company-type">
                  <option value="Import/Export">Import/Export</option>
                  <option value="Manufacturing">Manufacturing</option>
                  <option value="Rental of Space">Rental of Space</option>
                  <option value="Telecommunications">Telecommunications</option>
                  <option value="Radio">Radio</option>
                  <option value="Banking">Banking</option>
                  <option value="Gaming">Gaming</option>
                  <option value="Freight Services">Freight Services</option>
                  <option value="ISP">ISP</option>
               </select>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="company_status">Company Status
            </label>
            <div class="controls">
               <select id="company-status">
                  <option value="Operational">Operational</option>
                  <option value="Off Balance Sheet">Off Balance Sheet</option>
               </select>
            </div>
         </div>
         <fieldset>
            <legend>Director</legend>
            <div class="control-group">
               <label class="control-label" for="start-date">Start Date</label>
               <div class="controls">
                  <div class="input-append">
                     <input class="span10" type="text" id="start-date" name="start-date" value = "<%- start_date %>">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                     </input>
                  </div>
                  <span class="alert alert-error" id="start-date-alert">
                     Please provide a value!
                  </span>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="incorporation-date">Incorporation Date</label>
               <div class="controls">
                  <div class="input-append">
                     <input class="span10" type="text" id="incorporation-date" name="incorporation-date" 
                        value = "<%- incorporation_date %>" required>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                     </input>
                  </div>
                  <span class="alert alert-error" id="incorporation-date-alert">
                     Please provide a value!
                  </span>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="first_name">First Name</label>
               <div class="controls">
                  <input type="text" name="first_name" id="first-name" required>
                  </input>
                  <span class="alert alert-error" id="first-name-alert">
                     Please provide a value!
                  </span>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="last_name">Last Name</label>
               <div class="controls">
                  <input type="text" name="last_name" id="last-name" required>
                  </input>
                  <span class="alert alert-error" id="last-name-alert">
                     Please provide a value!
                  </span>
               </div>
            </div>
         </fieldset>

         <div class="control-group">
            <div class="controls">
               <button class="btn btn-primary" id="save-company-btn">
                  <i class="icon-ok"></i>
                  Save
               </button>
            </div>
         </div>
      </fieldset>
   </form>
</script>

<script id="save-success-tmpl" type="text/template">
   <div class="c-alert pillow-emboss">
      <div class="alert-message info">
         <h4 class="alert-heading">Company <%= name %> Saved</h4>
         <div>
            <span>
               <a class="btn" href= <%= links[0].href %> >
                  View Company
               </a>
            </span>
         </div>
      </div>
   </div>
</script>

{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}


{% block sidebar_menu_title %}
   {% include "templates/kuta/company/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/company/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
   {% assets "underscore", "backbone", "marionette", "momentjs", "company_builder" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}
{% endblock %}

