<!DOCTYPE html>
<li {% if company_section == 'create' %} class="active" {% endif %}>
<a href="{{request.route_url('company_form')}}">
  <i class="icon-large icon-th-large"></i>
    Create New Company
</a>
</li>
<li {% if company_section == 'list' %} class="active" {% endif %}>
<a href="{{request.route_url('company_index')}}">
  <i class="icon-large icon-th-large"></i>
    List All Companies 
</a>
</li>
