<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block master_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/kuta/assets/css/bootstrap.css" />
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/kuta/css/style.css" />
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/custom_style.css" />
    {% block master_head %}
    {% endblock %}
</head>
<body>
    <div id="maincontainer">
      <div id="contentwrapper">
        <div id="contentcolumn">
            <div  class="blue navbar navbar-static nomargin">
              <div class="navbar-inner">
                {% block header %}
                {% endblock %}
              </div>
            </div>

            <div class="container-fluid">
              <ul class="breadcrumb">
                {% block breadcrumbs %}
                {% endblock %}
              </ul>
              <div class="row-fluid">
                <div class="span12">
                  <div class="well">
                    <div class="navbar navbar-heading">
                      <div class="navbar-inner">
                        <div class="container">
                          {% block section_header%}
                          {% endblock %}
                        </div>
                      </div>
                    </div>
                    <p>
                      {% block main_content %}
                      {% endblock %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>


      <div id="leftcolumn">
        <div id="leftpanel">
          <div class="leftpanel-wrapper">
            <ul id="sidebar" class="nav nav-pills nav-stacked">
              {% block sidebar %}
              {% endblock %}
            </ul>
          </div>
        </div>
        <div id="leftsidebar">
          <div class="blue navbar navbar-static nomargin">
            <div class="navbar-inner">
              <div class="container">
                <a class="brand" href="{{request.route_url('index')}}">
                  <span>CFZ-Registry</span>
                </a>
              </div>
            </div>
          </div>
          <div class="menusb well">
            <div class="navbar navbar-heading">
              <div class="navbar-inner">
                {% block sidebar_menu_title %}
                {% endblock %}
              </div>
            </div>
            <ul class="nav nav-tabs nav-stacked">
              {% block sidebar_menu_items %}
              {% endblock %}
            <ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>
      
   <script type="text/javascript" 
      src="{{request.application_url}}/static/kuta/assets/js/jquery.js">
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/kuta/plugins/chosen.jquery.min.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/kuta/assets/js/bootstrap.min.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/bootstrap-tab.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/bootstrap-tooltip.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/kuta/plugins/bootstrap-datepicker.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/highlight_nav.js">
   </script>
   {% block javascript_modules %}
   {% endblock %}
</body>
</html>
