<!DOCTYPE html>
<li class="user-container">
   <a href="#">
      <img src="/static/images/male_silhouette.png">
         Username
      </img>
   </a>
</li>
<li {% if page == 'companies' %}class="active"{% endif %}>
   <a href="{{request.route_url('company_index')}}">
      <i class="micon-clipboard-2 icon-large"></i>
      <span>Companies</span>
   </a>
</li>
<li {% if page == 'goods_categories_show' %}class="active"{% endif %}>
   <a href="{{request.route_url('goods_categories_show')}}">
      <i class="micon-briefcase icon-large"></i>
      <span>Goods Categories</span>
   </a>
</li>
<li {% if page == 'access_letters' %}class="active"{% endif %}>
   <a href="{{request.route_url('access_letter_main')}}">
      <i class="micon-file-openoffice icon-large"></i>
      <span>Access Letters</span>
   </a>
</li>
<li {% if page == 'users' %}class="active"{% endif %}>
   <a href="{{request.route_url('user_list')}}">
      <i class="micon-user icon-large"></i>
      <span>Users</span>
   </a>
</li>
