<!DOCTYPE html>

{% extends "templates/cfz_nojs_master.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
<script type="text/javascript"  
   src="/static/javascript/app/cfz_utils.js" >
</script>
<script type="text/javascript" 
   src="/static/javascript/libs/angular-1.0.1.js" >
</script>
<script type="text/javascript" 
   src="/static/javascript/libs/angular-resource-1.0.1.min.js" >
</script>
<script type="text/javascript" 
   src="/static/javascript/app/shareholder_validators.js">
</script>
<script type="text/javascript" 
   src="/static/javascript/app/company/company_data_service.js">
</script>
<script type="text/javascript"
   src="/static/javascript/app/company/show_company_module.js">
</script>
<link rel="stylesheet" type="text/css" media="screen"
   href="/static/css/jquery-ui-1.8.21.custom.css" />
<script type="text/javascript" 
   src="/static/javascript/libs/jquery-ui-1.8.21.custom.min.js">
</script>
<link rel="stylesheet" type="text/css" media="screen" 
   href="/static/javascript/libs/angular-ui/angular-ui.min.css" />
<script type="text/javascript" 
   src="/static/javascript/libs/angular-ui/angular-ui.js">
</script>

{% endblock master_head %} 

{% block main %}
<div class="row-fluid" ng-app="show_company_module">
   <div class="span3">
      <div class="well well-large sidebar-nav">
         <ul class="nav nav-list">
            {% include "templates/company/sidebar_no_search.jinja2" %}
         </ul>
      </div> <!-- /sidebar-nav -->
   </div> <!-- /span3  -->

   <div class="span9" ng-app="show_company_module">
      <div id="content" class="span12" ng-controller="GeneralInformationController">
         <div class="navbar navbar-inverse">
            <div class="navbar-inner">
               <a class="brand" href="#">
                  {% raw %}{{company.name}}{% endraw %}
               </a>
               <ul class="nav" id="nav-items">
                  <li id="general-li">
                     <a ng-click="set_route('general')">General Information</a>
                  </li>
                  <li id="contact-numbers-li">
                     <a ng-click="set_route('contact_numbers')">Contact Numbers</a>
                  </li>
                  <li id="address-li">
                     <a ng-click="set_route('address')">
                        Address
                     </a>
                  </li>
                  <li id="manager-li">
                     <a ng-click="set_route('manager')">Manager</a>
                  </li>
                  <li id="investors-li">
                     <a ng-click="set_route('investors')">Shareholders</a>
                  </li>
                  <li id="reports-li">
                     <a ng-click="set_route('reports')">Annual Reports</a>
                  </li>
               </ul>
            </div> <!-- /navbar-inner !-->
         </div> <!-- /navbar !-->
         <div class="row-fluid">
            <div ng-view >
            </div>
         </div><!-- /row-fluid !-->

      </div> <!-- /content !-->
   </div> <!-- /span9 !-->

</div> <!-- row-fluid -->
{% endblock main %}
