<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/admin/users/section_header.jinja2" %}
{% endblock %}

{% block main_content %}

<div id="message">
   {%for message in request.session.pop_flash() %}
      {{message | safe}}
   {% endfor %}
</div>

<div id="total-users">
   <label>Total Users: {{ total }}</label>
</div>

<div id="user-list">
   <table class="table table-striped table-bordered table-condensed">
      <thead>
         <th>Name</th>
         <th>Email</th>
         <th></th>
      </thead>
      <tbody>
         {% for user in users %}
            <tr>
               <td>{{ user.username }}</td>
               <td>{{ user.email }}</td>
               <td><a href="{{request.route_url('user_show', id=user.id)}}" class="btn btn-primary">View</a></td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>


{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/admin/users/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/admin/users/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
{% endblock %}


