<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block master_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/bootstrap.min.css" />
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/bootstrap-responsive.min.css" />
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/jquery-1.7.2.min.js">
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/bootstrap.min.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/bootstrap-tab.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/bootstrap-tooltip.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/highlight_nav.js">
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/angular-1.0.1.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/angular-resource-1.0.1.min.js">
   </script>
   <script type="text/javascript"  
      src="{{request.application_url}}/static/javascript/app/cfz_utils.js" >
   </script>
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/style.css" />
    {% block master_head %}
    {% endblock %}
</head>
<body>
      <!-- Navbar -->
      <div class="navbar">
          <div class="navbar-inner">
              <div class="container">
                 <div class="container">
                    {% include "templates/top_nav.jinja2" %}
                 </div>
              </div>
          </div>
      </div>

      <div class="container-fluid">

      <div class="row-fluid">
         <div class="span3">
            <div class="well sidebar-nav">
               <ul class="nav nav-list">
                  {% block sidebar %}
                  {% endblock %}
               </ul>
            </div> <!--/ .well -->
         </div> <!--/ .span -->

      <div class="span9">
      {% block contents %}
      {% endblock %}
      </div>

      </div> <!--/ .row-fluuid -->

   </div>
</body>
</html>
