<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
   {% extends "templates/master.jinja2" %}

   {% block top_nav%}
      {% include "templates/top_navbar.jinja2" %}
   {% endblock %}

<body>
   {% block main_panel %}
      <div class="hero-unit">
         <h1>Welcome!</h1>
      </div>
   {% endblock %}
</body>
</html>
