<!DOCTYPE html>
<html>
<head>
   <script 
      src="{{request.application_url}}/static/javascript/libs/jquery-ui/js/jquery-1.9.0.js">
   </script>
   <script   
      src="{{request.application_url}}/static/javascript/libs/jquery-ui/js/jquery-ui-1.10.0.custom.js" >
   </script>
   <script   
      src="{{request.application_url}}/static/javascript/libs/jquery-ui/css/smoothness/jquery-ui-1.10.0.custom.css" >
   </script>
    <script>
      $(function() {
    $( "#_date" ).datepicker({
      showWeek: true,
      firstDay: 1
    });
  });
  </script>
</head>
<body>
	<h1>TEST</h1>

<div>
   <input id="_date" type="text"/>
</div>
	<div class="container">

		<p>&nbsp;</p>
		<div class="page-header">
			<h1>Paginator.requestPager() <small>Infinite Pagination</small></h1>
		</div>

		<h3>NetFlix movies starring Nicole Kidman</h3>
		<ul id="content">
		</ul>

		<div id="pagination">
		</div>

	</div>


	<!--sample template for result item-->
	<script type="text/html" id="resultItemTemplate">
	<div class="result row">
	<div class="title">
	<h4><%= Name %></h4>
	<div class="meta"><strong>Meta-data:</strong> Runtime: <%= Math.floor(Runtime/60) %> mins, Released: <%= ReleaseYear %>, Rating: <%= Rating %></span>
	</div>

	<div class="span12 cover">
	<div class="span4">
	<img src="<%= BoxArt.MediumUrl %>"/></div>
	<div class="synop span8">
	<%= ShortSynopsis %>
	</div>
	</div>

	</div>
	</script>

	<!-- sample template for pagination UI -->
	<script type="text/html" id="tmpServerPagination">
		<div class="breadcrumb">
		</div>
	</script>

	{% assets "underscore", "jQuery", "backbone", "backbone_paginator", "marionette", "company_list_app" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

</body>
</html>