<form class="well form-inline">
   <fieldset>
      <input type='text' name='name' id='category-name' placeholder='Add Goods category'></input>
      <button class='btn btn-primary' id='save-btn'>
         <i class='icon-ok'></i>Save
      </button>
   </fieldset>
</form>
