<td>
  <a href="#" name={{name}} data-type="text" data-title="Category Name">
    {{ name }}
  </a>
</td>
<td>
   <button class="btn btn-danger" id="edit-btn" data-delete-name={{name}} title="Delete Good Category">
      Delete
   </button>
</td>
