@import url(../plugins/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css);
@import url(font-awesome.css);
@import url(font-icon-moon.css);
@import url(buttons.css);


/*==================================================
* commons
* ===============================================*/
body {
	background:#343434;
	margin:0;
	padding:0;
	line-height: 1.5em;
	min-width:1000px;
	font-size:12px;
}
.well hr {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #fff;
}
hr.white {
	margin: 2px 0;
	border: 0;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #f3f3f3;
}
hr.grey {
	margin: 0px;
	border: 0;
	border-top: 1px solid #4e4e4e;
	border-bottom: 1px solid #1e1e1e;
}
.small-font, table.small-font td {font-size:11px;}
.align-right {text-align:right;}
.float-left {
	float:left;
	margin-right:10px;
}
.float-right {
	float:right;
	margin-left:10px;
}
.align-center {text-align:center;}
.bottom-margin {margin-bottom:20px;}
.nomargin {
	margin:0!important;
	padding:0!important;
}
.large-font {
	font-size:16px!important;
	font-weight:bold;
}
i.large-font {margin-top:-2px;}
.dropdown-menu{margin:-1px 0 0 0;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #454545;}
.navbar-search .search-query {border-color:transparent;}
.breadcrumb {
	border:1px solid #bbb;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/**
required for google map info window
more info: https://github.com/twitter/bootstrap/issues/2410
**/
.bs-map img {max-width: none;}
.morange {
	font-size:14px;
	color:#e8641b;
	font-weight:bold;
}
/*==================================================
* main layout
* ===============================================*/
#maincontainer {margin:10px 10px 0px 0px;}
#maincontainer .container-fluid {margin:10px 0px 10px 0px;}
#contentwrapper{
	float: left;
	width: 100%;	
	background:url(../images/bg-base.png) #ddd repeat-y;		
}
#contentcolumn{
	margin-left: 360px; /*Set left margin to LeftColumnWidth*/
	background-color:#ddd;	
	min-height:600px;
}
#leftcolumn{
	float: left;
	width: 360px; /*Width of left column*/
	margin-left: -100%;	
}
#leftpanel {
	float:left;
	width:110px;
	background-color: #4d4d4d;
	min-height:600px;
}
#leftsidebar {
	float:left;
	width:250px;
	min-height:600px;
}
/***** right sidebar *****/
.right-sidebar #contentwrapper {background:url(../images/bg-base2.png) #ddd repeat-y;}
.right-sidebar #contentcolumn{
	margin-left: 110px; /*Set left margin to LeftColumnWidth*/
	position:relative;
	background:url(../images/bg-base3.png) #ddd repeat-y;
	background-position:right;
}
.right-sidebar #contentcolumn #rightsidebar{
	width:250px;
	min-height:600px;
	position:absolute;
	right:0;
	top:45px;
}
.right-sidebar #contentcolumn #rightsidebar .well {margin:10px;}
.right-sidebar #leftcolumn{width: 110px;}
.right-sidebar #contentcolumn .container-fluid {margin:10px 240px 0px -10px;}
/***** no sidebar, left fluid, right fluid *****/
.no-sidebar #contentwrapper, .left-sb-fluid #contentwrapper, .right-sb-fluid #contentwrapper  {background:none;}
.no-sidebar #contentcolumn, .left-sb-fluid #contentcolumn, .right-sb-fluid #contentcolumn {margin-left: 110px;}
.no-sidebar #leftcolumn, .left-sb-fluid #leftcolumn, .right-sb-fluid #leftcolumn {width: 110px;}
.no-sidebar #contentcolumn .container-fluid {margin:20px 0 0 0;}
#maincontainer.right-sb-fluid .container-fluid, #maincontainer.left-sb-fluid .container-fluid {
	padding-left:0px;
	padding-right:0px;
	margin:0;
}
/***** left fluid *****/
.left-sb-fluid .row-fluid.wrapper {
	background:url(../images/bg-fluid-left.png) #ddd repeat-y;
	clear:both;
}
.left-sb-fluid .leftsidebar .well{margin:10px -8px 0px 10px;}
.left-sb-fluid .contentcolumn {
	background-color:#ddd;
	min-height:800px;
	padding:10px;	
}
/***** right fluid *****/
.right-sb-fluid .row-fluid.wrapper {
	background:url(../images/bg-fluid-right.png) #ddd repeat-y;
	background-position:right;
	clear:both;
}
.right-sb-fluid .contentcolumn {
	background-color:#ddd;
	min-height:800px;
	padding:10px;
}
.right-sb-fluid .right-sidebar-fluid .well{margin:10px 10px 0px -8px;}
/*==================================================
* header
* ===============================================*/
.navbar-top {
	border-bottom: 1px solid #2d2d2d;
	margin-bottom:0px;
	margin-right:0px;
}
.navbar-top .navbar-inner {
	background: #343434;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar-top .navbar-inner, .navbar.navbar-static  .navbar-inner{padding-right:5px;}
.navbar-inner .brand img{margin:-4px 0px 0px 0px;}
.navbar.navbar-top .nav .active > a,.navbar.navbar-top .nav .active > a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #454545;
	text-shadow: 0 1px 0 #000;
}

/*==================================================
* left panel
* ===============================================*/
.leftpanel-wrapper {margin-left:0px;}
.leftpanel-wrapper .nav > li > a, .leftpanel-wrapper .nav > li > a:hover, .accordion.acc-custom .accordion-group .acc-active {
	background: #6c6c6c;
	background: -moz-linear-gradient(top,  #6c6c6c 0%, #505050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6c6c), color-stop(100%,#505050));
	background: -webkit-linear-gradient(top,  #6c6c6c 0%,#505050 100%);
	background: -o-linear-gradient(top,  #6c6c6c 0%,#505050 100%);
	background: -ms-linear-gradient(top,  #6c6c6c 0%,#505050 100%);
	background: linear-gradient(top,  #6c6c6c 0%,#505050 100%);
	color:#f4f4f4;
	text-shadow: 0 1px 0 #000;
}
.leftpanel-wrapper .nav > li > a, .leftpanel-wrapper .nav > li > a:hover{
	font-size:11px;
	text-align:center;
	border-top: 1px solid #8c8c8c;
	border-bottom: 1px solid #303030;
	margin:0px;
}
.leftpanel-wrapper .nav-pills > li > a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.leftpanel-wrapper .nav {
	border-bottom: 1px solid #5d5d5d;
	padding:0px;
	margin:0px;
}
.leftpanel-wrapper .nav > li:last-child  a{margin-bottom:0px;}
.leftpanel-wrapper .nav > li > a:hover {
	background-color: transparent;
	color:#f4f4f4;
}
.leftpanel-wrapper .nav-pills > .active > a {position:relative;}
.leftpanel-wrapper .nav-pills > .active > a, .leftpanel-wrapper .nav-pills > .active > a:hover {
	background: #3d3d3d;
	border-top: 1px solid #4d4d4d;
	color:#fff;
}
.leftpanel-wrapper .nav-pills > .active > a:before {
	position: absolute;
	width: 0;
	height: 0;
	top: 35px;
	right: -8px;
	margin-top: -8px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #000;
}
.leftpanel-wrapper .nav-pills > .active > a:after {
	position: absolute;
	width: 0;
	height: 0;
	top: 35px;
	right: -7px;
	margin-top: -7px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #3d3d3d;
	content: ' ';
}
.leftpanel-wrapper .nav > li > a i.icon-large {
	display:block;
	font-size:30px;
	line-height:40px;
	margin:auto auto;
	color:rgba(255,255,255,0.8);
	text-shadow: -1px 1px 1px #000!important;
}
.leftpanel-wrapper .nav > li > a img {
	margin-top:12px;
	margin-bottom:15px;
}
.user-container {margin-top:0px;}
img.thumb {margin-top:5px;}
img.thumb, .leftpanel-wrapper .nav > li > a img {
	box-shadow: 0 1px 3px #1e1e1e;
	-webkit-box-shadow: 0 1px 3px #1e1e1e;
	-moz-box-shadow: 0 1px 3px #1e1e1e;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

/*==================================================
 * #leftsidebar
 * ===============================================*/
#leftsidebar .well {margin:10px;padding:10px;}
#leftsidebar .menusb.well {padding:0px;}
#leftsidebar .menusb.well .navbar.navbar-heading {margin:-1px -1px 0px 0px;}
#leftsidebar .menusb.well ul.nav-tabs.tabs-two {margin:-36px -2px 0px 0px;	}

/*==================================================
 * sidebar chart
 * ===============================================*/
.sidebarChart {
	margin:10px;
	background-color:#f0f0f0;
	padding:10px;
}
.left-sb-fluid .sidebarChart {margin:10px -6px 10px 10px;}
.sidebarChart h4{margin-bottom:10px;}

/*==================================================
* widget
* ===============================================*/
.well, .accordion.acc-custom .accordion-group {	
	border:1px solid #c7c7c7;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.well, .accordion.acc-custom .accordion-body.in .accordion-inner {background: #f9f9f9;}
.well {margin-bottom:20px;padding:10px;}
.modal .well {
	margin-bottom:0px;
	overflow:hidden;
	border-color:transparent;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.well .inner-container {margin:0px;}

/*==================================================
* navbar as widget header
**/

/*==================================================
 * navbar heading
 * ===============================================*/
.navbar.navbar-heading {margin:-11px -11px 10px -11px;}
.navbar.navbar-heading.nomargin, .navbar.navbar-static.nomargin {margin:0px;}
.navbar.navbar-heading .navbar-inner {
	min-height: 35px;
	height:35px;
	border:1px solid #ccc;	
	border-bottom: 1px solid #cdcdcd;	
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: 0 1px #fff;
	color: #454545;	
	padding-right: 0;
	padding-left: 20px;
}
.navbar.navbar-heading .navbar-inner, .well .nav-tabs.tabs-two > li > a:hover, .accordion.acc-custom .accordion-heading, .nav-tabs {
	background: #F8F8F8;
	background: -moz-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%, #E3E3E3));
	background: -webkit-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -o-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: -ms-linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	background: linear-gradient(top, #F8F8F8 0%, #E3E3E3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 );
}
.navbar.navbar-heading .brand, .accordion.acc-custom .accordion-heading .accordion-toggle {
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	color: #454545;
}
.navbar.navbar-heading .nav a {height:15px;}
.navbar.navbar-heading .nav a, .navbar.navbar-heading .nav a:hover {
	color: #454545;
	text-decoration: none;
	text-shadow:none;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	padding-left:4px;
	padding-right:4px;
}
.navbar.navbar-heading .nav li.dropdown .dropdown-toggle .caret, .navbar.navbar-heading .nav li.dropdown.open .caret {border-top-color:#454545;border-bottom-color:#454545;}

.navbar.navbar-heading .nav .active > a, .navbar.navbar-heading .nav .active > a:hover {
	color: #454545;
	text-decoration: none;
	background-color: #e1e1e1;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.navbar.navbar-heading .dropdown-menu a:hover {
	color:  #454545;
	background-color:#c1c1c1;
}
.navbar.navbar-heading .divider-vertical {
	background-color:#FFFFFF;
	border-right: 1px solid #d4d4d4;
	height:35px;
}
	
/*==================================================
 * navbar static
 * ===============================================*/
#leftsidebar .navbar.navbar-static.nomargin {margin-left:0px;}
.navbar.navbar-static .brand {
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	color:#dfdfdf;
	margin-top:5px;
}
.navbar.navbar-static .navbar-inner {
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}
.navbar.navbar-static .navbar-inner {
	border:none;
	background: #6c6c6c;
	background: -moz-linear-gradient(top,  #6c6c6c 0%, #505050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6c6c), color-stop(100%,#505050));
	background: -webkit-linear-gradient(top,  #6c6c6c 0%,#505050 100%);
	background: -o-linear-gradient(top,  #6c6c6c 0%,#505050 100%);
	background: -ms-linear-gradient(top,  #6c6c6c 0%,#505050 100%);
	background: linear-gradient(top,  #6c6c6c 0%,#505050 100%);
}
.navbar.navbar-static.nomargin .navbar-inner {
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #3d3d3d;
}
.navbar.navbar-static .divider-vertical {
	background-color:#505050;
	border-right: 1px solid #7d7d7d;
}
	
/*==================================================
 * navbar blue
 * ===============================================*/
.blue.navbar.navbar-static .navbar-inner {
	background: rgb(78,142,206);
	background: -moz-linear-gradient(top,  rgba(78,142,206,1) 0%, rgba(53,106,160,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,142,206,1)), color-stop(100%,rgba(53,106,160,1)));
	background: -webkit-linear-gradient(top,  rgba(78,142,206,1) 0%,rgba(53,106,160,1) 100%);
	background: -o-linear-gradient(top,  rgba(78,142,206,1) 0%,rgba(53,106,160,1) 100%);
	background: -ms-linear-gradient(top,  rgba(78,142,206,1) 0%,rgba(53,106,160,1) 100%);
	background: linear-gradient(top,  rgba(78,142,206,1) 0%,rgba(53,106,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e8ece', endColorstr='#356aa0',GradientType=0 );
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.blue.navbar.navbar-static.nomargin .navbar-inner {
	border-top: 1px solid #94b6ff;
	border-bottom: 1px solid #284278;
	height:17px;
}
.blue.navbar.navbar-static .brand{height:15px;}
.blue.navbar.navbar-static.nomargin .navbar-inner a {
	border-left:1px solid transparent;
	border-right:1px solid transparent;
}
.blue.navbar .nav > li > a {color:#fefefe;}
.blue.navbar .nav > li > a i.icon-xlarge{
	color:#bddcfa;
	text-shadow:1px 1px 0px #2e3e4e;
}
.blue.navbar .nav .active > a, .blue.navbar .nav .active > a:hover {
	background-color: rgba(0,0,0,0.1);
	border-left:1px solid transparent!important;
	border-right:1px solid transparent!important;
}
.blue.navbar .nav .active > a i.icon-xlarge, .blue.navbar .nav .active > a:hover i.icon-xlarge {color:#fefefe;}
.blue.navbar.navbar-static .divider-vertical {
	border-left:1px solid #376899;
	border-right: 1px solid #5799da;
	min-height:35px;
	margin:0px;
}
.blue.navbar.navbar-static .chzn-container {
	margin-top:5px;
	border:1px solid #386fa6;
	display:inline-block;
	float:left;
}
.blue.navbar.navbar-static .blueinput {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size:11px;
	height:16px;
	border:1px solid #386fa6;
	margin-top:5px;
	display:inline-block;
	float:left;
}
.blue.navbar .nav li.dropdown.open > .dropdown-toggle, .blue.navbar .nav li.dropdown.active > .dropdown-toggle, .blue.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #fefefe;
	background-color: transparent;
}
.blue.navbar .nav li.dropdown > .dropdown-toggle .caret, .blue.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .blue.navbar .nav li.dropdown.active > .dropdown-toggle .caret, .blue.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: #bddcfa;
	border-bottom-color: #bddcfa;
}
/*==================================================
* tabs inside well navbar
* ===============================================*/
.well ul.nav-tabs.tabs-two {
	float:right;
	margin:-46px -9px 0px 0px;
	border-bottom-color:transparent;
	position:relative!important;
}
.well .nav-tabs.tabs-two > li {margin-left:-2px;}
.modal .well .nav-tabs.tabs-two > li {margin-left:0px;}
.well .nav-tabs.tabs-two > li > a, .well .nav-tabs.tabs-two > li > a:hover {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	color:#454545;
	border-left-color:#bdbdbd;
	border-right-color:transparent;
	border-bottom-color:#bdbdbd;
	font-weight:bold;
	height:18px;
}
.well .nav-tabs.tabs-two > li.active > a, .well .nav-tabs.tabs-two > li.active > a:hover {
	background:#f9f9f9;
	color:#3a68b3;
	border-top-color:transparent;
	border-left-color:#bdbdbd;
	border-right-color:transparent;
	border-bottom-color:transparent;
}
.well .nav-tabs.tabs-two > li:last-child > a, .well .nav-tabs.tabs-two > li:last-child > a:hover {
	border-right-color:#bdbdbd;
	margin-right:-2px;
}

/*==================================================
* accordion
* ===============================================*/
.accordion.acc-custom .accordion-body.in .accordion-inner {border-top:1px solid #cdcdcd;}
.accordion.acc-custom .accordion-group .acc-active a {color:#fefefe;}
.accordion.acc-custom .accordion-group .accordion-heading a:hover {text-decoration:none;}
/*==================================================
* alert-message
* ===============================================*/
.alert-message {position:relative;}
.alert-message.danger, .alert-message.danger:hover, .alert-message.error, .alert-message.error:hover, .alert-message.success, .alert-message.success:hover, .alert-message.info, .alert-message.info:hover {color: #ffffff;}
.alert-message .close {
	font-family: Arial, sans-serif; 
	line-height: 28px;
}
.alert-message.danger, .alert-message.error {
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.success {
	background-color: #57a957;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #57a957 #57a957 #3d773d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.info {
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.custom {
	background-color: #dbdbdb;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ececec), to(#dbdbdb));
	background-image: -moz-linear-gradient(top, #ececec, #dbdbdb);
	background-image: -ms-linear-gradient(top, #ececec, #dbdbdb);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #dbdbdb));
	background-image: -webkit-linear-gradient(top, #ececec, #dbdbdb);
	background-image: -o-linear-gradient(top, #ececec, #dbdbdb);
	background-image: linear-gradient(top, #ececec, #dbdbdb);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#dbdbdb', GradientType=0);
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	border-color: #dbdbdb #dbdbdb #c6c6c6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
:root .alert-message {border-radius: 0 \0;}
.alert-message {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	position: relative;
	padding: 7px 15px;
	color: #404040;
	background-color: #eedc94;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
	background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
	background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
	background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
	background-image: -o-linear-gradient(top, #fceec1, #eedc94);
	background-image: linear-gradient(top, #fceec1, #eedc94);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #eedc94 #eedc94 #e4c652;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	box-shadow:  0px 3px 8px #aaa;
	-webkit-box-shadow:  0px 3px 8px #aaa;
	-moz-box-shadow:  0px 3px 8px #aaa;
}
.pillow-emboss2 .alert-message {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding:14px 30px;
}
.alert-message .close {
	margin-top: -3px;
	margin-right:-10px;
}
.pillow-emboss2 .alert-message .close {
	margin-top: 0px;
	margin-right:0px;
}
.alert-message a {text-decoration: none;}
.alert-message.danger p a, .alert-message.error p a, .alert-message.success p a, .alert-message.info p a {
	color: #bccff8;
	font-weight:bold;
}
.alert-message p a:hover {text-decoration: underline;}
.alert-message p {
	margin-bottom: 0;
	font-size:11px;
}

/*==================================================
* message-wrapper
* ===============================================*/
.message-feed {
	margin-left:15px;
	margin-right:10px;
}
.message-feed img.avatar {
	margin-top:20px;
	max-width:50px;
	max-height:50px;
	padding:3px;
	border: 1px solid #8C8C8C;
	background-color:#fefefe;
}
.msg-post-right {padding-left:80px;}
.msg-post-left {padding-right:80px;}
.message-wrapper {
	padding: 5px;
	display: block;
	position:relative;
}
.message-wrapper.above .arrow {
	bottom: -8px;
	left: 50%;
	margin-left: -14px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 14px solid rgba(0, 0, 0, 0.3);
}
.message-wrapper.right .arrow {
	top: 50px;
	left: -9px;
	margin-top: -14px;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-right: 14px solid rgba(0, 0, 0, 0.3);
}
.message-wrapper.below .arrow {
	top: -8px;
	left: 50%;
	margin-left: -14px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 14px solid rgba(0, 0, 0, 0.3);
}
.message-wrapper.left .arrow {
	top: 50px;
	right: -8px;
	margin-top: -14px;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid rgba(0, 0, 0, 0.3);
}
.message-wrapper.above:after {
	bottom: -6px;
	left: 50%;
	margin-left: -15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #ffffff;
	content: ' ';
}
.message-wrapper.right:after {
	top: 50px;
	left: -8px;
	margin-top: -15px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #ffffff;
	content: ' ';
}
.message-wrapper.below:after {
	top: -6px;
	left: 50%;
	margin-left: -15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #ffffff;
	content: ' ';
}
.message-wrapper.left:after {
	top: 50px;
	right: -6px;
	margin-top: -15px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #ffffff;
	content: ' ';
}
.message-wrapper .arrow,.message-wrapper.above:after,.message-wrapper.right:after,.message-wrapper.below:after,.message-wrapper.left:after {
	position: absolute;
	width: 0;
	height: 0;
}
.message-wrapper .inner {border: 1px solid #8C8C8C;}
.message-wrapper .title {
	padding: 5px 10px;
	margin:0;
	line-height: 1;
	border-bottom: 1px solid #bbb;
	background-color:#ddd;
	font-size:12px;
}
.message-wrapper .content {
	background-color: #ffffff;
	padding: 10px;
}
.message-wrapper .content textarea {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color:#fefefe;
	border:1px solid #ccc;
}
.message-wrapper .content.with-footer {padding-bottom: 55px;}
.message-wrapper .content p, .message-wrapper .content ul, .message-wrapper .content ol {
	margin-bottom: 0;
	font-size:11px;
}
.message-wrapper .content a {font-weight:bold;}

.msg-footer {
	position:absolute;
	bottom:-20px;
	left:-20px;
	right:-20px;
	background:#ddd;
}
.custom-widget .msg-footer {
	bottom:0px;
	left:0px;
	right:0px;
}
.custom-widget-msg .msg-footer {
	bottom:6px;
	left:6px;
	right:6px;
	border-top:1px solid #bbb;
}
.msg-footer p,.msg-footer div.first-footer-div {
	margin:10px 5px 5px 5px;
	padding:0px;
	font-size:11px;
}
.custom-widget-msg .msg-footer p{margin-top:5px;}
.msg-footer .btn img{
	height:16px;
	width:16px;
}

/*==================================================
* dropdown arrow
* ===============================================*/
.style1.dropdown-menu {margin-top:5px;}
.navbar .nav > li > .dropdown-menu:before, .style1.dropdown-menu:before{
	position: absolute;
	top: -13px;  
	display: inline-block;
	border-right: 13px solid transparent;
	border-bottom: 13px solid #ccc;
	border-left: 13px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.navbar .nav > li > .dropdown-menu:after, .style1.dropdown-menu:after {
	position: absolute;
	top: -12px;
	display: inline-block;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ffffff;
	border-left: 12px solid transparent;
	content: '';
}
.style1.dropdown-menu:before{left:9px;}
.style1.dropdown-menu:after {left:10px;}
.style2.dropdown-submenu > .dropdown-menu {
	margin-left: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.style2.dropdown-submenu > .dropdown-menu:after {
	position: absolute;
	top:18px;
	left: -2px;
	margin-top: -13px;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 13px solid #0081C2;
	content: '';
}
.navbar .nav > li.style3.dropdown > .dropdown-menu:after, .navbar .nav > li.style3.dropdown > .dropdown-menu:before{display:none;}
.navbar .nav li.style3.dropdown.open > .dropdown-toggle, .navbar .nav li.style3.dropdown.active > .dropdown-toggle, .navbar .nav li.style3.dropdown.open.active > .dropdown-toggle {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.style3.dropdown .dropdown-menu {
	background-color:#e5e5e5;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	border-top:none;
	margin-top:0;
}
.style4.dropdown .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width:400px;
}
.style4.dropdown .dropdown-menu .menu-container {
	width:48%;
	float:left;
}
.style4.dropdown .dropdown-menu .menu-container ul{
	margin:0 5px;
	padding:0;
	list-style:none;
}
/*==================================================
* dropdown user account
* ===============================================*/
.dropdown-menu.dropdown-user-account {width:365px;}
.dropdown-menu.dropdown-user-account .account-img-container {
	float:left;
	width:130px;
	margin-bottom:15px;
}
.dropdown-menu.dropdown-user-account .account-img {
	margin:15px 0px 0px 15px;
	border:1px solid #d3d3d3;
	padding:4px;
	background-color:#fefefe;
	width:90px;
	height:90px;
}
.dropdown-menu.dropdown-user-account .account-info {
	float:left;
	width:210px;
	margin-bottom:15px;
}
.dropdown-menu.dropdown-user-account .account-info h3, .dropdown-menu.dropdown-user-account .account-info p{margin:15px 0px 0px 10px;}
.dropdown-menu.dropdown-user-account .account-info h3 {
	margin-bottom:-10px;
	font-size: 18px;
	line-height: 27px;
}
.dropdown-menu.dropdown-user-account .account-info p{font-size:11px;}
.dropdown-menu.dropdown-user-account .account-info p a{
	display:inline-block;
	color:#454545!important;
	margin:0;
	padding:0;
}
.dropdown-menu.dropdown-user-account .account-footer{
	clear:both;
	border-top:1px solid #cccccc;
	background-color:#ededed;
	margin:15px 0px -4px 0px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}
.dropdown-menu.dropdown-user-account .account-footer .btn {
	display:inline-block;
	clear:none;
	float:left;
	font-size:11px;
	padding: 3px 9px;
	line-height: 18px;
	margin:10px;
}
.dropdown-menu.dropdown-user-account .account-footer .btn-primary,.dropdown-menu.dropdown-user-account .account-footer .btn-primary:hover,.dropdown-menu.dropdown-user-account .account-footer .btn-danger,.dropdown-menu.dropdown-user-account .account-footer .btn-danger:hover {color: #ffffff;}

/*==================================================
 * paper pile effect
 * ===============================================*/
.paper-pile {
	margin-bottom:40px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3),0 6px 0 -3px #f9f9f9,0 7px 1px -3px rgba(0,0,0,0.3),0 12px 0 -6px #f9f9f9,0 13px 1px -6px rgba(0,0,0,0.3),0 18px 0 -9px #f9f9f9,0 19px 1px -9px rgba(0,0,0,0.3),0 24px 0 -12px #f9f9f9,0 25px 20px -8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3),0 6px 0 -3px #f9f9f9,0 7px 1px -3px rgba(0,0,0,0.3),0 12px 0 -6px #f9f9f9,0 13px 1px -6px rgba(0,0,0,0.3),0 18px 0 -9px #f9f9f9,0 19px 1px -9px rgba(0,0,0,0.3),0 24px 0 -12px #f9f9f9,0 25px 20px -8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3),0 6px 0 -3px #f9f9f9,0 7px 1px -3px rgba(0,0,0,0.3),0 12px 0 -6px #f9f9f9,0 13px 1px -6px rgba(0,0,0,0.3),0 18px 0 -9px #f9f9f9,0 19px 1px -9px rgba(0,0,0,0.3),0 24px 0 -12px #f9f9f9,0 25px 20px -8px rgba(0, 0, 0, 0.2);
}
.paper-pile2 {
	margin-bottom:30px;
	box-shadow: 0px 1px 0px 0px #fff,0px 2px 0px 0px #ccc,0px 3px 0px 0px #fff,0px 4px 0px 0px #ccc,0px 5px 0px 0px #fff,0px 3px 5px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px 0px #fff,0px 2px 0px 0px #ccc,0px 3px 0px 0px #fff,0px 4px 0px 0px #ccc,0px 5px 0px 0px #fff,0px 3px 5px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 0px 0px #fff,0px 2px 0px 0px #ccc,0px 3px 0px 0px #fff,0px 4px 0px 0px #ccc,0px 5px 0px 0px #fff,0px 3px 5px 2px rgba(0,0,0,0.1);
}
.paper-pile3 {
	margin-bottom:40px;
	margin-right:10px;
	-webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.100),3px 3px 0 rgba(255, 255, 255, 1.0),4px 4px 0 rgba(0, 0, 0, 0.125),6px 6px 0 rgba(255, 255, 255, 1.0),7px 7px 0 rgba(0, 0, 0, 0.150),9px 9px 0 rgba(255, 255, 255, 1.0),10px 10px 0 rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.100),3px 3px 0 rgba(255, 255, 255, 1.0),4px 4px 0 rgba(0, 0, 0, 0.125),6px 6px 0 rgba(255, 255, 255, 1.0),7px 7px 0 rgba(0, 0, 0, 0.150),9px 9px 0 rgba(255, 255, 255, 1.0),10px 10px 0 rgba(0, 0, 0, 0.175);
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.100),3px 3px 0 rgba(255, 255, 255, 1.0),4px 4px 0 rgba(0, 0, 0, 0.125),6px 6px 0 rgba(255, 255, 255, 1.0),7px 7px 0 rgba(0, 0, 0, 0.150),9px 9px 0 rgba(255, 255, 255, 1.0),10px 10px 0 rgba(0, 0, 0, 0.175);
}

/*==================================================
 * tabs
 * ===============================================*/
.tabs-custom {margin-bottom:40px;}
.tabs-custom .nav.nav-tabs {
	border:1px solid #cdcdcd;
	margin-bottom:0px;
}
.tabs-custom .nav.nav-tabs.tabs-two {border:none;}
.tabs-custom .nav-tabs > li > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-right:-1px;
}
.tabs-custom .nav-tabs > li > a, .tabs-custom .nav-tabs > .active > a, .tabs-custom .nav-tabs > .active > a:hover {
	border-color:transparent;
	border-left-color:#cdcdcd;
}
.tabs-custom .nav-tabs > li:first-child > a, .tabs-custom .nav-tabs > li:first-child.active > a {
	border-left-color:transparent;
}
.tabs-custom .nav-tabs > li:last-child.active > a, .tabs-custom .nav-tabs > li:last-child.active > a:hover {border-right-color:#cdcdcd;}
.tabs-custom .tab-content {
	background-color:#fff;
	border:1px solid #cdcdcd;
	border-top:none;
}
.tabs-custom.tabs-below .tab-content {
	border-top:1px solid #cdcdcd;
	border-bottom:none;
}
.tabs-custom.tabs-left > .nav-tabs {margin-right:-1px;}
.tabs-custom.tabs-left .tab-content {border-top:1px solid #cdcdcd;}
.tabs-custom.tabs-left .nav-tabs > li > a, .tabs-custom.tabs-left .nav-tabs > .active > a, .tabs-custom.tabs-left .nav-tabs > .active > a:hover {
	border-left-color:transparent;
	border-bottom-color:#cdcdcd;
}
.tabs-custom.tabs-left .nav-tabs > li:last-child > a, .tabs-custom.tabs-left .nav-tabs > li:last-child.active > a, .tabs-custom.tabs-left .nav-tabs > li:last-child.active > a:hover {
	border-right-color:transparent;
	border-bottom-color:transparent;
}
.tabs-custom.tabs-left .nav-tabs > li:last-child > a, .tabs-custom.tabs-left .nav-tabs > li:last-child.active > a, .tabs-custom.tabs-left .nav-tabs > li:last-child.active > a:hover {
	border-right-color:transparent;
	border-bottom-color:transparent;
}
.tabs-custom.tabs-right > .nav-tabs {margin-left:-1px;}
.tabs-custom.tabs-right .tab-content {
	border-top:1px solid #cdcdcd;
	border-left:none;
}
.tabs-custom.tabs-right .nav-tabs > li > a,.tabs-custom.tabs-right .nav-tabs > li > a:hover, .tabs-custom.tabs-right .nav-tabs > .active > a, .tabs-custom.tabs-right .nav-tabs > .active > a:hover {
	border-left-color:transparent;
	border-bottom-color:#cdcdcd;
	border-right-color:#cdcdcd;
}
.tabs-custom.tabs-right .nav-tabs > li:last-child > a, .tabs-custom.tabs-right .nav-tabs > li:last-child.active > a, .tabs-custom.tabs-right .nav-tabs > li:last-child.active > a:hover {border-bottom-color:transparent;}
.tabs-custom .tab-content .tab-pane {margin:15px;}
/*==================================================
 * stacked tabs
 * ===============================================*/
.nav-tabs.nav-stacked {
	margin:0px;	
	background:none;
}
.nav-tabs.nav-stacked > li {margin-bottom:0px;	}
.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > a:hover {
	color:#454545;
	font-weight:bold;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	position:relative;
}
.nav-tabs.nav-stacked > li.active > a, .nav-tabs.nav-stacked > li.active > a:hover {
	color:#3a68b3;
	background:#f9f9f9;
}
.nav-tabs.nav-stacked > li.active > a:after {
	position: absolute;
	width: 0;
	height: 0;
	top: -2px;
	right: 10px;
	margin-top: 10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #3a68b3;
	content: ' ';
}
.right-sidebar .nav-tabs.nav-stacked > li > a, .right-sidebar-fluid .nav-tabs.nav-stacked > li > a {margin-left:20px;}
.right-sidebar .nav-tabs.nav-stacked > li.active > a:after, .right-sidebar-fluid .nav-tabs.nav-stacked > li.active > a:after {display:none;}
.right-sidebar .nav-tabs.nav-stacked > li.active > a:before, .right-sidebar-fluid .nav-tabs.nav-stacked > li.active > a:before {
	position: absolute;
	width: 0;
	height: 0;
	top: -2px;
	left: -15px;
	margin-top: 10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #3a68b3;
	content: ' ';
}
.nav-tabs.nav-stacked > li:first-child > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-top-color:transparent;
}
.nav-tabs.nav-stacked > li:last-child > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom-color:transparent;
}

/*==================================================
 * user list, dashboard
 * ===============================================*/
.user-list {
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
	padding-bottom:5px;
}
#leftsidebar .user-list {border-bottom:1px solid rgba(0,0,0,0.1);}
.user-list .avatar {
	padding:4px;
	background:#fefefe;
	border:1px solid #ddd;
	width:45px;
	height:45px;
}	
.user-list .uname {
	font-weight:bold;
	display:block;
}
/*==================================================
 * pillow-emboss
 * ===============================================*/
.pillow-emboss {
	margin-bottom:18px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #ededed;
	padding:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #dadada;
	box-shadow:  inset 0px 8px 24px #bbb;
	-webkit-box-shadow:  inset 0px 8px 24px #bbb;
	-moz-box-shadow:  inset 0px 8px 24px #bbb;
}
.well .pillow-emboss, .pillow-emboss.light {
	border-left: 1px solid #aaa;
	background: #efefef;
	box-shadow:  inset 0px 8px 24px #dfdfdf;
	-webkit-box-shadow:  inset 0px 8px 24px #dfdf;
	-moz-box-shadow:  inset 0px 8px 24px #dfdfdf;
}
.pillow-emboss2 {
	margin-bottom:18px;
	background: #E0E0E0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#D7D7D7');
	background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#D7D7D7)); 
	background: -moz-linear-gradient(top,  #E9E9E9,  #D7D7D7); 
	padding: 8px;
	-webkit-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-moz-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-o-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-khtml-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-webkit-border-radius: 50px; 
	-moz-border-radius: 50px; 
	-o-border-radius: 50px; 
	-khtml-border-radius: 50px;
	border-radius: 50px;
}
/*==================================================
 * label, badge
 * ===============================================*/
.label-extend, .badge-extend {
	display:inline-block;
	color:#b94a48;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	background-color:#dedede;
	padding:6px 10px 6px 10px;
	text-align:center;
	margin-bottom:-5px;
	margin-top:3px;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .3), 1px 1px 1px rgba(255,255,255, .3);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .3), 1px 1px 1px rgba(255,255,255, .3);
	box-shadow: inset 1px 1px 1px rgba(0,0,0, .3), 1px 1px 1px rgba(255,255,255, .3);
}

/*==================================================
 * custom input prepend append
 * ===============================================*/
.add-on.add-on-custom {padding-right:0px;}
.btn-group.btn-group-prep {
	display:inline-block;
	float:left;
	margin:-5px 0px 0px -11px;
	border:1px solid transparent;
}
.btn-group.btn-group-prep > .btn:first-child {
	margin-left: 0;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
	margin-top:-2px;
	height:32px;
}
.btn-group.btn-group-prep > .btn:last-child,.btn-group.btn-group-prep > .dropdown-toggle {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-right:0px;
	margin-right:-7px;
	margin-top:-2px;
	height:32px;
}
.btn-group.btn-group-prep > .dropdown-toggle {
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}
.btn-group.btn-group-prep .dropdown-menu li a {
	text-align:left;
	text-shadow:none;
}

/*==================================================
 * progress bar
 * ===============================================*/
.progress, .ui-slider-horizontal, .ui-slider-vertical {
	background-color: #e7e7e7;
	background-image: -moz-linear-gradient(top, #e5e5e5, #e9e9e9);
	background-image: -ms-linear-gradient(top, #e5e5e5, #e9e9e9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e5e5), to(#e9e9e9));
	background-image: -webkit-linear-gradient(top, #e5e5e5, #e9e9e9);
	background-image: -o-linear-gradient(top, #e5e5e5, #e9e9e9);
	background-image: linear-gradient(top, #e5e5e5, #e9e9e9);
	border:1px solid #b2b2b2;
	background-repeat: repeat-x;
}
.progress, .ui-slider-horizontal {
	border-bottom-color:#d5d5d5;
	border-right-color:#d5d5d5;
}
.pillow-emboss .progress {
	background-color: #f8f8f8;
	background-image:none;
}
.pillow-emboss .progress, .pillow-emboss .progress .bar {height:25px;}
.progress.mini, .progress.mini .bar {height:5px;}

/*==================================================
 * sliders
 * ===============================================*/
 
/*!
 * jQuery UI CSS Framework 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

.ui-state-disabled { cursor: default !important; }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-header { border:none; background: #f6a828; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid transparent; background: #fdf5ce; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid transparent; background: #fdf5ce; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid transparent; background: #ffffff; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; border-color:transparent; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 50px; -webkit-border-top-left-radius: 50px; -khtml-border-top-left-radius: 50px; border-top-left-radius: 50px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 50px; -webkit-border-top-right-radius: 50px; -khtml-border-top-right-radius: 50px; border-top-right-radius: 50px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 50px; -webkit-border-bottom-left-radius: 50px; -khtml-border-bottom-left-radius: 50px; border-bottom-left-radius: 50px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 50px; -webkit-border-bottom-right-radius: 50px; -khtml-border-bottom-right-radius: 50px; border-bottom-right-radius: 50px; }
.ui-widget-overlay { background: #666666; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 16px; height: 16px; cursor: default; background: url(../images/handle-btn.png) no-repeat; border: none; cursor: pointer; }
.ui-slider .ui-slider-handle:hover { background-position: 0 -16px; }
.ui-slider .ui-slider-handle:active { background-position: 0 -32px; }
.ui-slider .ui-slider-handle:focus { outline: none; border-color:transparent; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; height: 6px; font-size: .7em; display: block; }
.ui-slider-horizontal { height: 4px; clear: both; margin: 0px 0px 15px 0px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
.ui-slider-horizontal .ui-slider-handle { top: -7px; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0px; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { height: 100px; width: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
.ui-slider-vertical .ui-slider-handle { left: -6px; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 4px; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.multi-vs {margin-left:20px;}
.multi-vs span { height: 160px; float: left; margin:10px 25px 0px 0px; display: block; }
.slider-info .ui-widget-header{
	background-color: #4bb1cf;
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);  
}
.slider-success .ui-widget-header {
	background-color: #5eb95e;
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}
.slider-warning .ui-widget-header {
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -ms-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(top, #fbb450, #f89406);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
}
.slider-danger .ui-widget-header {
	background-color: #dd514c;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

/*==================================================
 * jqplot
 * ===============================================*/
/*rules for the plot target div.  These will be cascaded down to all plot elements according to css rules*/
.jqplot-target {
    position: relative;
    color: #666666;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
}
/*rules applied to all axes*/
.jqplot-axis {font-size: 0.75em;}
.jqplot-xaxis {margin-top: 10px;}
.jqplot-x2axis {margin-bottom: 10px;}
.jqplot-yaxis {margin-right: 10px;}
.jqplot-y2axis, .jqplot-y3axis, .jqplot-y4axis, .jqplot-y5axis, .jqplot-y6axis, .jqplot-y7axis, .jqplot-y8axis, .jqplot-y9axis, .jqplot-yMidAxis {
    margin-left: 10px;
    margin-right: 10px;
}
/*rules applied to all axis tick divs*/
.jqplot-axis-tick, .jqplot-xaxis-tick, .jqplot-yaxis-tick, .jqplot-x2axis-tick, .jqplot-y2axis-tick, .jqplot-y3axis-tick, .jqplot-y4axis-tick, .jqplot-y5axis-tick, .jqplot-y6axis-tick, .jqplot-y7axis-tick, .jqplot-y8axis-tick, .jqplot-y9axis-tick, .jqplot-yMidAxis-tick {
    position: absolute;
    white-space: pre;
}
.jqplot-xaxis-tick {
    top: 0px;
    /* initial position untill tick is drawn in proper place */
    left: 15px;
/*    padding-top: 10px;*/
    vertical-align: top;
}
.jqplot-x2axis-tick {
    bottom: 0px;
    /* initial position untill tick is drawn in proper place */
    left: 15px;
/*    padding-bottom: 10px;*/
    vertical-align: bottom;
}
.jqplot-yaxis-tick {
    right: 0px;
    /* initial position untill tick is drawn in proper place */
    top: 15px;
/*    padding-right: 10px;*/
    text-align: right;
}
.jqplot-yaxis-tick.jqplot-breakTick {
	right: -20px;
	margin-right: 0px;
	padding:1px 5px 1px 5px;
/*	background-color: white;*/
	z-index: 2;
	font-size: 1.5em;
}
.jqplot-y2axis-tick, .jqplot-y3axis-tick, .jqplot-y4axis-tick, .jqplot-y5axis-tick, .jqplot-y6axis-tick, .jqplot-y7axis-tick, .jqplot-y8axis-tick, .jqplot-y9axis-tick {
    left: 0px;
    /* initial position untill tick is drawn in proper place */
    top: 15px;
/*    padding-left: 10px;*/
/*    padding-right: 15px;*/
    text-align: left;
}
.jqplot-yMidAxis-tick {
    text-align: center;
    white-space: nowrap;
}
.jqplot-xaxis-label {
    margin-top: 10px;
    font-size: 11pt;
    position: absolute;
}
.jqplot-x2axis-label {
    margin-bottom: 10px;
    font-size: 11pt;
    position: absolute;
}
.jqplot-yaxis-label {
    margin-right: 10px;
/*    text-align: center;*/
    font-size: 11pt;
    position: absolute;
}
.jqplot-yMidAxis-label {
    font-size: 11pt;
    position: absolute;
}
.jqplot-y2axis-label, .jqplot-y3axis-label, .jqplot-y4axis-label, .jqplot-y5axis-label, .jqplot-y6axis-label, .jqplot-y7axis-label, .jqplot-y8axis-label, .jqplot-y9axis-label {
/*    text-align: center;*/
    font-size: 11pt;
    margin-left: 10px;
    position: absolute;
}
.jqplot-meterGauge-tick {
    font-size: 0.75em;
    color: #999999;
}
.jqplot-meterGauge-label {
    font-size: 1em;
    color: #999999;
}
table.jqplot-table-legend {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}
table.jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #cccccc;
    position: absolute;
    font-size: 0.75em;
}
td.jqplot-table-legend {vertical-align:middle;}

/*
These rules could be used instead of assigning
element styles and relying on js object properties.
*/

/*
td.jqplot-table-legend-swatch {
    padding-top: 0.5em;
    text-align: center;
}

tr.jqplot-table-legend:first td.jqplot-table-legend-swatch {
    padding-top: 0px;
}
*/

td.jqplot-seriesToggle:hover, td.jqplot-seriesToggle:active {cursor: pointer;}
.jqplot-table-legend .jqplot-series-hidden {text-decoration: line-through;}
div.jqplot-table-legend-swatch-outline {
    border: 1px solid #cccccc;
    padding:1px;
}
div.jqplot-table-legend-swatch {
    width:0px;
    height:0px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}
.jqplot-title {
    top: 0px;
    left: 0px;
    padding-bottom: 0.5em;
    font-size: 1.2em;
}
table.jqplot-cursor-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
}
.jqplot-cursor-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(208,208,208,0.5);
    padding: 1px;
}
.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(208,208,208,0.5);
    padding: 1px;
}
.jqplot-point-label {
    font-size: 0.75em;
    z-index: 2;
}      
td.jqplot-cursor-legend-swatch {
    vertical-align: middle;
    text-align: center;
}
div.jqplot-cursor-legend-swatch {
    width: 1.2em;
    height: 0.7em;
}
.jqplot-error {
/*   Styles added to the plot target container when there is an error go here.*/
    text-align: center;
}
.jqplot-error-message {
/*    Styling of the custom error message div goes here.*/
    position: relative;
    top: 46%;
    display: inline-block;
}
div.jqplot-bubble-label {
    font-size: 0.8em;
/*    background: rgba(90%, 90%, 90%, 0.15);*/
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(20%, 20%, 20%);
}
div.jqplot-bubble-label.jqplot-bubble-label-highlight {background: rgba(90%, 90%, 90%, 0.7);}
div.jqplot-noData-container {
	text-align: center;
	background-color: rgba(96%, 96%, 96%, 0.3);
}
#donut-pie-div .jqplot-data-label, #pie-div .jqplot-data-label {color:#ffffff;}
#vertical-bar-div table.jqplot-table-legend {width:auto;}
#vertical-bar-div tr.jqplot-table-legend {display:inline-block;}

/*==================================================
 * bootstrap-wysihtml5
 * ===============================================*/
ul.wysihtml5-toolbar {
	margin: 0;
	padding: 0;
	display: block;
}
ul.wysihtml5-toolbar::after {
	clear: both;
	display: table;
	content: "";
}
ul.wysihtml5-toolbar > li {
	float: left;
	display: list-item;
	list-style: none;
	margin: 0 5px 10px 0;
}
ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {font-weight: bold;}
ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {font-style: italic;}
ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {text-decoration: underline;}
ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #E6E6E6;
	background-color: #D9D9D9 9;
	outline: 0;
}
ul.wysihtml5-commands-disabled .dropdown-menu {display: none !important;}

/*! ==================================================
* Datepicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
* =============================================== */
.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*.dow {
	border-top: 1px solid #ddd !important;
	}*/
}
.datepicker:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px;
}
.datepicker:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	top: -6px;
	left: 7px;
}
.datepicker > div {display: none;}
.datepicker table {
	width: 100%;
	margin: 0;
}
.datepicker td, .datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}
.datepicker td.old, .datepicker td.new {color: #999999;}
.datepicker td.active, .datepicker td.active:hover {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,.datepicker td.active:hover:hover,.datepicker td.active:active,.datepicker td.active:hover:active,.datepicker td.active.active,.datepicker td.active:hover.active,.datepicker td.active.disabled,.datepicker td.active:hover.disabled,.datepicker td.active[disabled],.datepicker td.active:hover[disabled] {background-color: #0044cc;}
.datepicker td.active:active,.datepicker td.active:hover:active,.datepicker td.active.active,.datepicker td.active:hover.active {background-color: #003399 \9;}
.datepicker td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datepicker td span:hover {background: #eeeeee;}
.datepicker td span.active {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(top, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,.datepicker td span.active:active,.datepicker td span.active.active,.datepicker td span.active.disabled,.datepicker td span.active[disabled] {background-color: #0044cc;}
.datepicker td span.active:active, .datepicker td span.active.active {background-color: #003399 \9;}
.datepicker td span.old {color: #999999;}
.datepicker th.switch {width: 145px;}
.datepicker thead tr:first-child th {cursor: pointer;}
.datepicker thead tr:first-child th:hover {background: #eeeeee;}
.input-append.date .add-on i, .input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

/********** jQuery Chosen ********************* /
/* @group Base */
.chzn-container {
	font-size: 13px;
	position: relative;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.chzn-container .chzn-drop {
	background: #fff;
	border: 1px solid #aaa;
	border-top: 0;
	position: absolute;
	top: 29px;
	left: 0;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
	-moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
	-o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
	box-shadow        : 0 4px 5px rgba(0,0,0,.15);
	z-index: 1010;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
	background-color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );   
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
	background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); 
	-webkit-border-radius: 0px;
	-moz-border-radius   : 0px;
	border-radius        : 0px;
	-moz-background-clip   : padding;
	-webkit-background-clip: padding-box;
	background-clip        : padding-box;
	border: 1px solid #aaaaaa;
	-webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 23px;
	line-height: 24px;
	padding: 0 0 0 8px;
	color: #444444;
	text-decoration: none;
}
.chzn-container-single .chzn-default {color: #999;}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url('../images/chosen-sprite.png') right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {background-position: right -11px;}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {background-position: right top;}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 18px;
}
.chzn-container-single .chzn-single div b {
	background: url('../images/chosen-sprite.png') no-repeat 0 0;
	display: block;
	width: 100%;
	height: 100%;
}
.chzn-container-single .chzn-search {
	padding: 3px 4px;
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
}
.chzn-container-single .chzn-search input {
	background: #fff url('../images/chosen-sprite.png') no-repeat 100% -22px;
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	outline: 0;
	border: 1px solid #aaa;
	font-family: sans-serif;
	font-size: 1em;
}
.chzn-container-single .chzn-drop {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius   : 0 0 4px 4px;
	border-radius        : 0 0 4px 4px;
	-moz-background-clip   : padding;
	-webkit-background-clip: padding-box;
	background-clip        : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	border: 1px solid #aaa;
	margin: 0;
	padding: 0;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	position: relative;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	font-family: sans-serif;
	font-size: 100%;
	height: 15px;
	padding: 5px;
	margin: 1px 0;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow   : none;
	-o-box-shadow     : none;
	box-shadow        : none;
}
.chzn-container-multi .chzn-choices .search-field .default {color: #999;}
.chzn-container-multi .chzn-choices .search-choice {
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	-moz-background-clip   : padding;
	-webkit-background-clip: padding-box;
	background-clip        : padding-box;
	background-color: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); 
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;
	border: 1px solid #aaaaaa;
	line-height: 13px;
	padding: 3px 20px 3px 5px;
	margin: 3px 0 3px 5px;
	position: relative;
	cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {background: #d4d4d4;}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url('../images/chosen-sprite.png') right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {background-position: right -11px;}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {background-position: right -11px;}

/* @group Results */
.chzn-container .chzn-results {
	margin: 0 4px 4px 0;
	max-height: 240px;
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
	margin: -1px 0 0;
	padding: 0;
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 15px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: #3875d7;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );  
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	color: #fff;
}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
}
.chzn-container .chzn-results .highlighted em {background: transparent;}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #999;
	font-weight: bold;
}
.chzn-container .chzn-results .group-option {padding-left: 15px;}
.chzn-container-multi .chzn-drop .result-selected {display: none;}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	width: 321px; /* This should by dynamic with js */
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {bottom: 0;}
.chzn-container .chzn-results-scroll-down span {background: url('../images/chosen-sprite.png') no-repeat -4px -3px;}
.chzn-container .chzn-results-scroll-up span {background: url('../images/chosen-sprite.png') no-repeat -22px -3px;}

/* @group Active  */
.chzn-container-active .chzn-single {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
	-o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
	box-shadow        : 0 0 5px rgba(0,0,0,.3);
	border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow   : 0 1px 0 #fff inset;
	-o-box-shadow     : 0 1px 0 #fff inset;
	box-shadow        : 0 1px 0 #fff inset;
	background-color: #eee;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	-webkit-border-bottom-left-radius : 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft : 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {background-position: -18px 1px;}
.chzn-container-active .chzn-choices {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
	-o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
	box-shadow        : 0 0 5px rgba(0,0,0,.3);
	border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {color: #111 !important;}

/* @group Disabled Support */
.chzn-disabled {
	cursor: default;
	opacity:0.5 !important;
}
.chzn-disabled .chzn-single {cursor: default;}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {cursor: default;}

/* @group Right to Left */
.chzn-rtl { text-align: right; }
.chzn-rtl .chzn-single { padding: 0 8px 0 0; overflow: visible; }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0; direction: rtl; }
.chzn-rtl .chzn-single div { left: 3px; right: auto; }
.chzn-rtl .chzn-single abbr {
	left: 26px;
	right: auto;
}
.chzn-rtl .chzn-choices .search-field input { direction: rtl; }
.chzn-rtl .chzn-choices li { float: right; }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 5px 3px 19px; margin: 3px 5px 3px 0; }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 4px; right: auto; background-position: right top;}
.chzn-rtl.chzn-container-single .chzn-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 15px; }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none; }
.chzn-rtl .chzn-search input {
	background: #fff url('../images/chosen-sprite.png') no-repeat -38px -22px;
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);  
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url('../images/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	padding: 4px 5px 4px 20px;
	direction: rtl;
}

/*==================================================
* table
* ===============================================*/
.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th {background-color: #e9e9e9;}
div.dataTables_length label {
	float: left;
	text-align: left;
}
div.dataTables_length select {width: 75px;}
div.dataTables_filter label {float: right;}
div.dataTables_info {padding-top: 8px;}
div.dataTables_paginate {
	float: right;
	margin: 0;
}
table.table {
	clear: both;
	margin-bottom: 6px !important;
}
table.table thead .sorting,table.table thead .sorting_asc,table.table thead .sorting_desc,table.table thead .sorting_asc_disabled,table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}
table.table thead .sorting { background: url('../plugins/datatables/media/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../plugins/datatables/media/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../plugins/datatables/media/images/sort_desc.png') no-repeat center right; }
table.table thead .sorting_asc_disabled { background: url('../plugins/datatables/media/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../plugins/datatables/media/images/sort_desc_disabled.png') no-repeat center right; }
table.dataTable thead th { padding-right:10px!important; }
table.dataTable th:active { outline: none; }

/*==================================================
* timepicker
* ===============================================*/
.bootstrap-timepicker.dropdown-menu {
    border-radius: 4px 4px 4px 4px;
    display: none;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
}
.bootstrap-timepicker.dropdown-menu.open {display: inline-block;}
.bootstrap-timepicker.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 6px;
    position: absolute;
    top: -7px;
}
.bootstrap-timepicker.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    left: 7px;
    position: absolute;
    top: -6px;
}
.bootstrap-timepicker.modal {
    margin-left: -100px;
    margin-top: 0;
    top: 30%;
    width: 200px;
}
.bootstrap-timepicker.modal .modal-content {padding: 0;}
.bootstrap-timepicker table {
    margin: 0;
    width: 100%;
}
.bootstrap-timepicker td, .bootstrap-timepicker th {
    border-radius: 4px 4px 4px 4px;
    height: 20px;
    text-align: center;
}
.bootstrap-timepicker td.separator {width: 1px;}
.bootstrap-timepicker td a {
    border: 1px solid transparent;
    display: block;
    margin: 4px;
    padding: 4px 0;
}
.bootstrap-timepicker td a:hover {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    border-radius: 4px 4px 4px 4px;
}