      <ul class="nav nav-pills" id="tabs"> 
         <li class="active" id="general-li">
            <a ng-click="setRoute('general')">General Information</a>
         </li>
         <li id="contact-li">
            <a  ng-click="setRoute('contact-information')">Contact Information</a>
         </li>
         <li id="address-li">
            <a ng-click="setRoute('address')">Address</a>
         </li>
      </ul>

