<div ng-controller="InvestorApplicationController" ng-cloak>

   <div ng-show="successMessage" class="alert alert-success">
      Investor Added Successfully!
   </div>
   <div ng-show="!validate_shareholder_name()" class="alert alert-block alert-error">
      <h4>Error!</h4>
      This investor appears to already exist in this application!
   </div>

   <div ng-show="investor_deleted_message" class="alert alert-info">
      Investor was removed!
   </div>

   <form class="well form-horizontal"
      ng-submit="add_investor()">
      <fieldset>
         <legend>
            Add Investor
         </legend>
         <div class="control-group">
            <label class="control-label" for="first_name">First Name</label>
            <div class="controls">
               <input type="text" name="first_name" ng-model="shareholder.first_name" 
                  ng-change="validate_shareholder_name()" required />
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="last_name">Last Name</label>
            <div class="controls">
               <input type="text" name="last_name" ng-model="shareholder.last_name" 
                  ng-change="validate_shareholder_name()" required />
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="percent_owned">Shares Owned</label>
            <div class="controls">
               <input type="text" name="percent_owned" ng-model="shareholder.percent_owned" 
                  required />
            </div>
         </div>
         <div class="control-group">
            <div class="controls">
               <button class="btn btn-primary" ng-disabled="!validate_shareholder_name()">
                  <i class="icon-ok"></i>Save
               </button>
            </div>
         </div>
      </fieldset>
   </form>

   <div>
      <h1>Investors</h1>
      <table class="table table-bordered table-striped">
         <thead>
            <tr>
               <th>Id</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Shares Owned</th>
               <th>Background Check</th>
               <th/>
               <th/>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="investor in investors">
               <td>{{investor.id}}</td>
               <td>{{investor.first_name}}</td>
               <td>{{investor.last_name}}</td>
               <td>{{investor.percent_owned}}</td>
               <td>{{investor.background_check}}</td>
               <td>
                  <button class="btn btn-info btn-small" ng-click="show_background_check_form(investor)">
                     Background Check
                  </button>
               </td>
               <td>
                  <button class="btn btn-danger" rel="tooltip" title="Delete" ng-click="delete_investor(investor)">
                     <i class="icon-remove"></i>
                  </button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>

   <!-- Modal !-->
   <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true" ng-show="show_delete_modal">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close_delete_investor_modal()">x</button>
         <h3 id="dialogLabel">Delete Investor</h3>
      </div>
      <div class="modal-body">
         <p>Are you sure you want to delete investor {{investor_to_delete.first_name}} {{investor_to_delete.last_name}} ?</p>
      </div>
      <div class="modal-footer" ng-model="investor">
         <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="close_delete_investor_modal()">
            Close
         </button>
         <button class="btn btn-danger" ng-click="confirm_delete_investor()">
            Yes
         </button>
      </div>
   </div>

   <!-- Background Modal !-->
   <div class="modal" id="backgroundModal" tabindex="-1" role="dialog" aria-labelledby="backgroundLabel" aria-hidden="true" ng-show="show_background_modal">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close_background_modal()">x</button>
         <h3 id="backgroundLabel">Add Background Check for {{investor.first_name}} {{investor.last_name}}</hr>
      </div>
      <div class="modal-body">
         <div class="alert alert-success" ng-show="background_check_success">
            Background check saved!
         </div>
         <div class="controls">
            <button class="btn btn-success btn-small" ng-click="pass_background_check()">
               <i class="icon-thumbs-up"></i> Passed 
            </button>
            <button class="btn btn-danger btn-small" ng-click="fail_background_check()">
               <i class="icon-thumbs-down"></i> Failed 
            </button>
         </div>
      </div>
      <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="close_background_modal()">
            Close
         </button>
      </div>
   </div>

</div>
