<!DOCTYPE html>

{% extends "templates/kuta/master.jinja2" %}

{% block master_title %}
    CFZ Registry
{% endblock %}


{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block main_content %}

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12 well">
        <div class="navbar navbar-heading">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="#">Goods Categories</a>
            </div>
          </div>
        </div>

        <div class="row-fluid span6" id="form-region">
        </div>
        <div class="row-fluid span6">
          <div id="messages-region">
          </div>
          <div id="list-region">
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block sidebar %}
    {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block javascript_modules %}
   {% assets "underscore", "backbone", "marionette", "handlebars", "goods_categories_templates", "goods_categories", "bootstrap_plugins", "editable_plugin" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}

   <script>
      $(function(){
         GoodsCategories.start();
         $.fn.editable.defaults.mode = 'inline';
      });
   </script>

{% endblock %}
